.body_background {
	background-image:
	  url("https://www.featurepics.com/StockImage/20120213/frame-with-crayons-stock-illustration-2148928.jpg");
	background-position: center;
	background-size: cover;
  }
  
  h1 {
	color: 0D47A1;
	font-size: 40px;
  }
  
  #myCanvas {
	border-width: 10px;
	background-color: #FFFDE7;
	border-style: ridge;
  }
  
  span {
	font-size: 20px;
  }